<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>518303147528-e5jf2tjajg1e93ilqctofl25321rhfgu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.518303147528-e5jf2tjajg1e93ilqctofl25321rhfgu</string>
	<key>API_KEY</key>
	<string>AIzaSyDvu7RHvyGmakVh3r2jdo-HBh7KjhlsopE</string>
	<key>GCM_SENDER_ID</key>
	<string>518303147528</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cassandrabalbuena.crime-Aid</string>
	<key>PROJECT_ID</key>
	<string>crime-aid-1573323090396</string>
	<key>STORAGE_BUCKET</key>
	<string>crime-aid-1573323090396.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:518303147528:ios:0e79a44415a70b617f53bd</string>
	<key>DATABASE_URL</key>
	<string>https://crime-aid-1573323090396.firebaseio.com</string>
</dict>
</plist>